@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <picture>
        <img src="~/Content/images/pc.jpg" width="1000" height="250" alt="PET CLINIC" />
    </picture>
</div>

<button onclick='window.location="@Url.Action("Index","Doctors")";' class="btn btn-primary btn-lg">Doctor</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick='window.location="@Url.Action("Index","Customers")";' class="btn btn-primary btn-lg">Customer</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick='window.location="@Url.Action("Index","Appointments")";' class="btn btn-primary btn-lg">Appointment</button>
